body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(264, 16%, 88%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%239C92AC' fill-opacity='0.16' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
  height: 100vh;
}
.ask {
  font-size: 25px;
  color: rgb(51, 50, 50);
  margin: 10px;
  text-align: center;
  background-color: #b89fdc;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: fantasy;
}
#askButton {
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  background-color: #b89fdc;

  border-radius: 5px;
  box-shadow: 0px 3px 5px;
  color: rgb(31, 30, 30);
  transition: all 0.2s ease-in-out;
  font-family: fantasy;
}
#askButton:hover {
  background-color: #124b88;
  box-shadow: 0px 6px 8px;
}
h1 {
  font-family: fantasy;
  font-weight: 200;
  font-size: 50px;
}
input {
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 0px 6px 8px #2633ec;
}
.outer-ball {
  border-radius: 50%;
  height: max-content;
  margin: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  background: radial-gradient(circle at 100px 100px, #124b88, #000);
}
#outer-circle {
  width: 130px;
  height: 130px;
  background-color: black;
  background: radial-gradient(circle at 100px 100px, #0d4581, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.animate-ball {
  animation: move-eight-ball 3s ease-in-out 1;
}
.text-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2633ec;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;
}
#eightball-text {
  padding: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.animate-text {
  animation: text-animation 3s ease-in-out 1;
}

@keyframes move-eight-ball {
  0% {
    transform: none;
  }
  50%,
  60% {
    transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg)
      scaleX(0.95);
  }
  100% {
    transform: none;
  }
}
@keyframes text-animation {
  0% {
    opacity: 1;
  }
  50%,
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
